body{
    font-size: x-large;
}
hr{
    margin-left: -10px;
    margin-right: -10px;
}

#nav-item{
    position: absolute;
    right: 10px;
    top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the top-level navigation items */
li {
    display: inline-flex;
    margin-right: 20px;
}

/* Style the links */
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Add hover effect for links */
a:hover {
     color: gray; /* Change to your desired hover color */
    display: block;
}

.ICNAA-2024:hover{
    color: #333;
}


/* Style the sub-menu */
ul ul {
    display: none;
    margin-top: 35px;
    margin-left: 20px;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

#nav-hidden-item-I  li{
    margin: 10%;
}

/* Show sub-menu on hover */
li:hover ul {
    display: block;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* Style sub-menu items */
li ul li {
    display: block;
    margin: 5px 0;
}

.main-item-box > button{
    border: none;
    background-color: transparent;   
    animation: upDown 0.5s infinite alternate; /* Animation name, duration, iteration count, direction */
    transform-origin: center;
    transition: 1s ease; 
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(60%); /* Change the value to increase/decrease the distance of movement */
    }
}

.navButton{
    background-color: rgba(0, 0, 0, 0.);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 20px 0px 0px 20px;
    transition: 0.3s ease;
}

.navButton:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 0px rgb(90, 90, 90);
}

.navButtonII{
    height: 45px;
    width: 70px;
    margin-left: -23px;
    margin-right: -23px;
    background-color:  rgba(0, 0, 0, 0.);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
    transition: 0.3s ease;
}

.navButtonII:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 0px rgb(90, 90, 90);
}

.navButtonIII{
    height: 45px;
    background-color:  rgba(0, 0, 0, 0.);
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 0px 20px 20px 0px;
    transition: 0.3s ease;
}

.navButtonIII:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 8px 0px rgb(90, 90, 90);
}

@media (max-width: 900px){
    body{
        font-size: large;
    }
    #nav-item{
        position: static;
        top: auto;
        left: auto;
    }

    .navButtonII{
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width:500px){
    body{
        font-size: medium;
    }
}

.main-item-box{
    text-align: center;
}

#footer{
    text-align: center;
}

.footer-text{
    font-weight: bold;
}


