.text{
    width: 90%;
    text-align: left;
    margin-left: 2%;
    /* box-shadow: 4px 4px 8px 0px rgb(90, 90, 90);
    background-color: rgb(224, 220, 220); */
    margin-top: 3%;
}

.text-body{
    height: 100%;
    width: 100%;
    padding-top: 2px;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
}

.committee{
    margin-top: 0px;
    margin-bottom: 0px;
}